# Exclude all.

*

# Except config

!config/
!config/**/
!config/**/*.txt

# Except data

!data/
!data/**/
!data/**/*.zip

# Experiments data

!exp/
!exp/**/
!exp/images/**/*.jpg
!exp/images/**/*.png
!exp/**/*.md

# Except main notebooks & Python code
!*.ipynb
!*.py

# Except system files
!helper.sh
!LICENSE
!logo.png
!onnx.png
!README.md
!CONTRIBUTING.md
!requirements.txt