# Data Handling Packages
numpy
pandas
nltk

# Machine Learning Packages
scikit-learn
xgboost
tensorflow

# ONNX Support Packages
tf2onnx
skl2onnx
onnxmltools
onnxruntime

# Jupyter Notebook & Visualization Packages
netron
pydot
seaborn
ipykernel
notebook
opencv-python