# Data Handling Packages
numpy
pandas

# Machine Learning Packages
scikit-learn
xgboost
tensorflow

# ONNX Support Packages
skl2onnx
keras2onnx
onnxmltools
onnxruntime

# Jupyter Notebook & Visualization Packages
pydot
seaborn
ipykernel
notebook